* {
    color:burlywood; 
   /* background-image: url("giphy.gif")*/

}
h1{
    color: blueviolet;
    font-size:35px;
    text-align: center;
}
h2,h3{
    color:blueviolet;
    font-size:25px;
    text-align: center;
}
p {
    text-align: center;
}
.me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto; 
}

.center {
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    mix-blend-mode: difference;
}
html{
    background: url(giphy.gif) no-repeat center fixed;
    background-size: cover;
}
.tex{
    background-color: rgba(0,0,0,0.7 alpha);
    color:black;
    padding: 20px;
    margin: 50px;
}
.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
.gdpr {
    text-align: center;
    list-style-position: inside;
}
.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav{
    float: center;
    color: greenyellow;
    text-align: center;
    padding: 20px 70px;
    text-decoration: black;
    font-size: 17px
}
.img{
    mix-blend-mode: difference;
}
/*.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/*.dropdown-content {
 display: none;
 position: absolute;
 background-color: blueviolet;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content a {
    color: black;
    padding:  12px 16px;
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}*/
.arabnav{
    background-color: black;
    overflow: hidden;
    float: center;
    color: yellow;
    text-align: center;
    padding: 20px 70px;
    text-decoration: black;
    font-size: 17px
}
.pernav{
    background-color: black;
    overflow: hidden;
    float: center;
    color: yellow;
    text-align: center;
    padding: 20px 70px;
    text-decoration: black;
    font-size: 17px
}

